# Sarvam AI
SARVAM_API_KEY=your_sarvam_api_key

# Twilio WhatsApp
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=whatsapp:+1415XXXXXXX
NRI_CHILD_PHONE_NUMBER=whatsapp:+91XXXXXXXXXX

# Public URL of the application ~ ngrok http 3000
PUBLIC_URL=https://your-domain.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Google Gemini
GEMINI_API_KEY=your_gemini_api_key

# PostgreSQL (Supabase)
DATABASE_URL=postgresql://postgres:[PASSWORD]@your-project.pooler.supabase.com:6543/postgres?pgbouncer=true

# Direct connection for migrations
DIRECT_URL=postgresql://postgres:[PASSWORD]@your-project.pooler.supabase.com:5432/postgres

# Resend
RESEND_API_KEY=your_resend_api_key

# Notification Email
DOCTOR_EMAIL=doctor@example.com